body{
    font-family: Arial, Helvetica, sans-serif
}

ul{
    text-decoration: none;
    font-size: .8rem;
    color: rgb(114, 109, 109);
}

li{
    display: inline;
}

a{
    text-decoration: none;
}